---
BasedOnStyle: Google
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlwaysBreakBeforeMultilineStrings: 'true'
Cpp11BracedListStyle: 'true'
IndentPPDirectives: AfterHash
Standard: Cpp11

...
