*~
*.o
*.a
*.so
build
config.hpp
!src/hilucsi/small_scale/config.hpp
.ycm_extra_conf.py
*.egg-info
__pycache__
*.pyc
dist
.vscode
*.out
*.exe
html
latex
tmp
*.so.*
*.tmp
src/psmilu_matching/hsl_mc64*.h
*.hilucsi
*.psmilu
*.bin
*.mat
internal_tests
bench/driver
bench/cases
bench/hsl_mc64-*
python/hilucsi4py/*.cpp
python/hilucsi4py/file_dp_api.h
python/hsl_mc64*
.ipynb_checkpoints
