*~
*.o
*.a
*.so
build
config.hpp
!src/psmilu_lapack/config.hpp
.ycm_extra_conf.py
*.egg-info
__pycache__
*.pyc
dist
.vscode
*.out
*.exe
html
latex
tmp
*.so.*
*.tmp
src/psmilu_matching/hsl_mc64*.h
*.psmilu
*.bin
*.mat
internal_tests
bench/driver
bench/cases