include README.rst
include LICENSE
include requirements.txt
include MANIFEST.in
include conf.py
graft hilucsi4py
graft tests
global-exclude __pycache__
global-exclude *.so
global-exclude *.py[co]
global-exclude *.cpp
exclude hilucsi4py/file_dp_api.h
